@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --main-dark: #14110f;
  --light-red: #db4747;
  --light-grey: rgb(190, 190, 190);
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}

body {
  background: var(--main-dark);
  font-family: 'Poppins', sans-serif;
  color: white;
  min-height: 100vh;
}

.nav-bar > ul {
  display: flex;
  /* justify-content: space-around; */
  list-style: none;
}

.nav-menu {
  margin-bottom: 20px;
}

.nav-menu > li {
  font-size: 20px;
  cursor: pointer;
  padding: 20px;
}

.nav-options:hover {
  text-underline-position: below;
}

.name {
  color: #db4747;
}

.logo {
  margin-right: auto;
}

#logo {
  position: absolute;
  width: 400px;
  top: 15%;
  right: 10%;
}

.white-fill path,
.white-fill rect {
  fill: white;
  stroke-width: 1px;
  stroke: white;
  stroke-dasharray: 1514px;
  stroke-dashoffset: 0px;
}

.grey-fill path {
  fill: var(--light-grey);

  stroke-width: 1px;
  stroke: var(--light-grey);

  stroke-dasharray: 317px;
  stroke-dashoffset: 0px;
}

.red-fill path {
  /* fill: rgb(224, 53, 53); */
  fill: transparent;
  stroke: var(--light-red);
  stroke-width: 1px;
  stroke-dasharray: 277px;
  stroke-dashoffset: 0px;
}

.white-fill:hover path,
.white-fill:hover rect {
  animation: animate-icon 2s linear forwards;
}

.grey-fill:hover path {
  animation: grey-fill-animation 2s linear forwards;
}

.red-fill path {
  animation: animate-icon-red 2s linear forwards 1s;
}

@keyframes animate-icon-red {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 277px;
  }
  80% {
    stroke-dashoffset: 554px;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 554px;
    fill: var(--light-red);
  }
}

@keyframes grey-fill-animation {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 317px;
  }
  80% {
    stroke-dashoffset: 634px;
  }
  100% {
    stroke-dashoffset: 634px;
    fill: transparent;
  }
}

@keyframes animate-icon {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1514px;
  }
  80% {
    stroke-dashoffset: 3028px;
  }
  100% {
    stroke-dashoffset: 3028px;
    fill: transparent;
  }
}

.left-side {
  position: absolute;
  top: 20%;
  left: 20px;
}

.left-side h1 {
  font-size: 70px;
}

.main-btn {
  margin-top: 20px;
  font-size: 18px;
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 20px;
  cursor: pointer;
}

.main-btn:nth-of-type(1) {
  margin-right: 10px;
}

i {
  margin-right: 10px;
}
